.todoItem{
    display: flex;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 400px;
}


.doneBtn{
    padding: 7px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.donned{
    background: #1A1A40;
    color: #fff;
    border: 1px solid #8758ff;
    cursor: pointer;
}

.delBtn{
    padding: 7px;
    margin-left: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btnsWrapper{
    margin-left: auto;
}